{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël
{% endblock %}

{% block body %}

	<h1>{{ base.homepageWord|raw}}</h1>


	{% if base.homepageImagePath == NULL %}
		<img style="width: 350px" src="{{ asset('img/default/Default.png' ) }}" alt="">
	{% else %}
		<figure class="text-center">
			<img src="{{ asset('img/'~ base.homepageImagePath ) |imagine_filter('home') }}" alt="{{ base.siteTitle }}">
		</figure>
	{% endif %}

{% endblock %}
